<!DOCTYPE html>
<html lang="en">
<style>
    .person {
        display: flex;
    }

    .data {
        margin: -10px 20px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>{{ person1.name }}</title>
</head>

<body>
    <div class='container'>
        {% for person in persons %}
        <div class='person'>
            <div>
                <img src={{person.img_src}} height=120px width=100px>
            </div>
            <div class='data'>
                <h1>Hello my name is {{ person.name }}</h1>
                <article>NPM : {{ person.npm }}</article>
                <article>I am {{ person.age }} years old</article>
                <article>My hobby is {{ person.hobby }}</article>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</body>

</html>